@page
@model ClientsModel
@{
    ViewData["Title"] = "Clients";
}

<link rel="stylesheet" href="https://cdn.datatables.net/1.11.0/css/jquery.dataTables.min.css" />

<div class="text-center">
    <h1>Clients</h1>
</div>

<table id="clients_table" class="stripe row-border order-column" style="width:80%">
    <thead>
        <tr>
            <th>Client name</th>
            <th>Company</th>
            <th>Email</th>
            <th>Phone</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Client name</td>
            <td>Company</td>
            <td>Email</td>
            <td>Phone</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th>Client name</th>
            <th>Company</th>
            <th>Email</th>
            <th>Phone</th>
        </tr>
    </tfoot>
</table>

<form method="post">
    <div id="sticky_buttons" style="border: thin solid black; background: white; visibility: hidden;">
        <div style="margin-top: 10px; margin-left: 75px; margin-bottom: 10px;">
            <input type="text" name="client_name" id="client_name" placeholder="Client name">
            <input type="text" name="company" id="company" placeholder="Company">
            <input type="text" name="email" id="email" placeholder="Email">
            <input type="text" name="phone" id="phone" placeholder="Phone">
        </div>

        <div style="margin-top: 10px; margin-left: 250px; margin-bottom: 10px;">
            <input class="home-btn" type="submit" value="Add">
            <input class="home-btn" type="submit" value="Edit">
            <input class="home-btn" type="submit" value="Delete">
        </div>
    </div>
</form>

<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="//cdn.datatables.net/1.11.0/js/jquery.dataTables.min.js"></script>
<script language="JavaScript" type="text/javascript">
    $.noConflict();
    jQuery( document ).ready(function( $ ) {
        let isRowSelected = false; 
        
        $(document).ready(function() {
            var table = $('#clients_table').DataTable();

            $('#clients_table tbody').on( 'click', 'tr', function () {
                if ( $(this).hasClass('selected') ) {
                    $(this).removeClass('selected');
                    document.getElementById('sticky_buttons').style.visibility = "hidden";
                }
                else {
                    table.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                    document.getElementById('sticky_buttons').style.visibility = "visible";
                }
            } );
        } ); 

        if ( $(window).height() >= $(document).find('#main_footer').prop('disabled', true).offset().top - 10 )
        {
            let topPosition = $(document).find('#main_footer').prop('disabled', true).offset().top + document.getElementById('sticky_buttons').offsetHeight; 
            $('#sticky_buttons').css({'position':'fixed','top':'335px'});
        }

        var initTopPosition= $('#sticky_buttons').offset().top; 

        $(window).scroll(function() {
            if($(window).scrollTop() > 0)
            {
                $('#sticky_buttons').css({'position':'fixed','top':'390px'});

                if ( $(window).scrollTop() + $(window).height() >= $(document).find('#main_footer').prop('disabled', true).offset().top - 10 )
                {
                    let topPosition = $(document).find('#main_footer').prop('disabled', true).offset().top + document.getElementById('sticky_buttons').offsetHeight; 
                    $('#sticky_buttons').css({'position':'fixed','top':'335px'});
                }
            }
            else
            {
                $('#sticky_buttons').css({'position':'absolute','top':initTopPosition+'px'});
            }
        });
    });
</script>
