@page
@model EmployeesModel
@{
    ViewData["Title"] = "Employees";
}

<link rel="stylesheet" href="https://cdn.datatables.net/1.11.0/css/jquery.dataTables.min.css" />

<h1>Employees</h1> 

<table id="employees_table" class="stripe row-border order-column" style="width:80%">
    <thead>
        <tr>
            <th>Employee name</th>
            <th>Manager name</th>
            <th>Department</th>
            <th>Salary</th>
            <th>Employment date</th>
            <th>Termination date</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Employee name</td>
            <td>Manager name</td>
            <td>Department</td>
            <td>Salary</td>
            <td>Employment date</td>
            <td>Termination date</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th>Employee name</th>
            <th>Manager name</th>
            <th>Department</th>
            <th>Salary</th>
            <th>Employment date</th>
            <th>Termination date</th>
        </tr>
    </tfoot>
</table>

<form method="post">
    <div id="sticky_buttons" style="border: thin solid black; background: white; visibility: hidden; width: 950px;">
        <div style="margin-top: 10px; margin-left: 25px; margin-bottom: 10px;">
            <input type="text" name="employee_name" id="employee_name" placeholder="Employee name">
            <input type="text" name="manager_name" id="manager_name" placeholder="Manager name">
            <input type="text" name="department" id="department" placeholder="Department">
            <input type="number" name="salary" id="salary" placeholder="Salary">
            <input type="datetime" name="employment_date" id="employment_date" placeholder="Employment date">
        </div>

        <div style="margin-top: 10px; margin-left: 250px; margin-bottom: 10px;">
            <input class="home-btn" type="submit" value="Add">
            <input class="home-btn" type="submit" value="Edit">
            <input class="home-btn" type="submit" value="Delete">
        </div>
    </div>
</form>

<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="//cdn.datatables.net/1.11.0/js/jquery.dataTables.min.js"></script>
<script language="JavaScript" type="text/javascript">
    $.noConflict();
    jQuery( document ).ready(function( $ ) {
        let isRowSelected = false; 
        
        $(document).ready(function() {
            var table = $('#employees_table').DataTable();

            $('#employees_table tbody').on( 'click', 'tr', function () {
                if ( $(this).hasClass('selected') ) {
                    $(this).removeClass('selected');
                    document.getElementById('sticky_buttons').style.visibility = "hidden";
                }
                else {
                    table.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                    document.getElementById('sticky_buttons').style.visibility = "visible";
                }
            } );
        } ); 

        if ( $(window).height() >= $(document).find('#main_footer').prop('disabled', true).offset().top - 10 )
        {
            let topPosition = $(document).find('#main_footer').prop('disabled', true).offset().top + document.getElementById('sticky_buttons').offsetHeight; 
            $('#sticky_buttons').css({'position':'fixed','top':'335px'});
        }

        var initTopPosition= $('#sticky_buttons').offset().top; 

        $(window).scroll(function() {
            if($(window).scrollTop() > 0)
            {
                $('#sticky_buttons').css({'position':'fixed','top':'390px'});

                if ( $(window).scrollTop() + $(window).height() >= $(document).find('#main_footer').prop('disabled', true).offset().top - 10 )
                {
                    let topPosition = $(document).find('#main_footer').prop('disabled', true).offset().top + document.getElementById('sticky_buttons').offsetHeight; 
                    $('#sticky_buttons').css({'position':'fixed','top':'335px'});
                }
            }
            else
            {
                $('#sticky_buttons').css({'position':'absolute','top':initTopPosition+'px'});
            }
        });
    });
</script>
